/*-------------gloobal css--------------*/
body {
    font-family: 'Alegreya', serif;
}
*:focus {
    outline:none;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h1{
    font-size:58px;
}
h2 {
    font-size:48px;
}
h3 {
    font-size:32px;
}
h4 {
    font-size:24px;
    margin:10px auto;
}
h5 {
    font-size:22px;
}
a {
    text-decoration:none;
}
ul {
    list-style:none;
}
img {
    width:100%;
}
p {
    font-size:19px;
    letter-spacing:.5px;
    line-height:1.4em;
}

input[type="text"]:focus,
input[type="email"]:focus {
    transition:.5s;
    width:100%;
    box-shadow:0 0 10px;
    border-radius:20px;

}
input[type="text"]:hover,
input[type="email"]:hover {
    width:100%;
    transition:.5s;
    border-radius:0;
}
/*-------------gloobal css--------------*/

/*-------------class css--------------*/
.btn {
    background:#FF5959;
    padding:10px 20px;
    color:white;
    font-size:22px;
    margin:20px;
    display:inline-block;
    border-radius:6px;
    cursor:pointer;
}
.btn:hover {
    box-shadow:0 0 20px;
}
.call-to {
    width:60%;
    text-align:center;
    padding:30px;
    margin:auto;
}
/*-------------class css--------------*/

/*-------------section css--------------*/
.header {
    background:url("images/main-banner.jpg") no-repeat top center / cover fixed;
    color:white;
}
.overlay {
    background:rgba(0,0,0,0.7);
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;

}
.header .container {
    width:60%;
    text-align:center;
    padding:30px;
}
/*donate today*/
.donate-today {
    text-align:center;
    padding:100px 0 20px;
}
.donate-container{
    width:70%;
    margin:auto;
}
.donate-content {
    padding:20px;
}
.amount-card {
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-flow:wrap;
    margin:30px 0;
}
.amount {
    width:18%;
    height:115px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    background:#FAFAFA;
    font-weight:bold;
    border-radius:5px;
    box-shadow:0 0 3px;
    color:#5B5B5B;
}
.amount:hover {
    box-shadow:0 0 10px;
}
.tk200 {
    border:3px solid #FF5959;
    background:rgba(255, 89, 89, .3);
    color:#FF5959;
}
.custom-amount {
    width:70%;
    margin:auto;
}
.custom-amount input{
    display:block;
    width:50%;
    text-align:center;
    padding:10px 0;
    font-size:20px;
    border-top:0;
    border-right:0;
    border-left:0;
    border-bottom:2px solid pink;
    border-radius:50%;
    margin:auto;
}

/*donate plan*/
.donate-plan {
    padding-bottom:50px;
}
.donate-card {
    width:75%;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.card {
    width:32%;
    padding:60px 20px;
    text-align:left;
    border-radius:4px;
}
.card:hover {
    box-shadow:0 0 10px;
}
.card a {
    margin-top:10px !important;
    display:inline-block;
    color:blue;
    cursor:pointer;
}
.card a:hover {
    text-decoration:underline;
}
.card img {
    width:50px;
}
.card p {
    font-size:14px;
}
.food {
    background:rgba(255, 89, 89, .3);
}
.family {
    background:rgba(255, 98, 5, .5);
}
.education {
    background:rgba(255, 20, 89, .4);
}


/*subscribe*/
.subscribe-section {
    padding:40px 0;
}
.subscribe-now.call-to {
    display:flex;
    align-items:center;
    justify-content:center;
    padding:60px 0;
    background:rgba(255, 98, 5, .5);
    border-radius:4px;
}
.subscribe-now input {
    padding:7px 20px;
}
.subscribe-now input[type="email"]{
    border:5px solid #D9D9D9;
    background:#D9D9D9;
    width:35%;
    border-radius:4px 0 0 4px;
}
.subscribe-now .btn {
    margin:0;
    border:0;
    border-radius:0;
    padding:12px 45px;
    font-size:14px;
    border-radius:0 4px 4px 0;
}
/*footer section*/
.footer {
    text-align:center;
    padding:40px;
    background:black;
    color:white;
}
.footer span {
    color:#E65050;
}
/*-------------section css--------------*/